@model Proyecto_Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}
    <br>
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br>
    <h4>Cree una cuenta nueva.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container-page">

        <div class="form-group col-lg-12">
            <label>Username</label>
            <input name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
            <label>Repeat Password</label>
            <input type="password" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
            <label>Email Address</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
            <label>Repeat Email Address</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
